<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mines</title>
    <link rel="stylesheet" href="assets/index.css" type="text/css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
</head>
<body class="bg-dark-0">
    <h3 style="margin-bottom: 3px;">Total Score: <span id="total-score"></span></h3>
    <h5 style="margin-bottom: 20px;">Score: <span id="score"></span></h5>
    <div class="board"></div>
    <div class="control-area">
        <button class="btn" id="play">
            <i class="fa-duotone fa-play"></i>
        </button>

        <button class="btn" id="stop">
            <i class="fa-solid fa-hand"></i>
        </button>
    <div>
    <script src="assets/index.js"></script>
</body>
</html>